<?xml version="1.0" encoding="utf-8"?>
<document type="freeswitch/xml">
  <section name="directory">
    <domain name="default"></domain>
    <gateways>
      <gateway name="pedro.com">
	<param name="realm" value="pedro.com"/>
	<param name="register" value="false"/>
      </gateway>
    </gateways>
  </section>
</document>