<h1><%= I18n.t('client_cash_plan.edit.title')%></h1>

<%= render 'form' %>

<%= link_to I18n.t('show'), @client_cash_plan %> |
<%= link_to I18n.t('back'), client_cash_plans_path(:client_id => @client_cash_plan.client_id) %>
