<h1><%= I18n.t('consumers_request_cash.edit.title')%></h1>

<%= render 'form' %>

<%= link_to I18n.t('show'), @consumers_request_cash %> |
<%= link_to I18n.t('back'), consumers_request_cashes_path %>
